.User_edit {
	margin-top: 80px;
	margin-left: 100px;
}

.sign-up_area {
	margin-top: 80px;
	margin-left: 100px;
}

.log-in_area {
	margin-top: 80px;
	margin-left: 100px;
}

.error_alert {
	margin-top: 50px;
	font-size: 32px;
	color: red;
}

.user_alert {
	margin-top: 50px;
	margin-left: 50px;
	color: #32cd32;
}